#header1-0{
  background-image: url(../image/header.jpg)
}

.animated{
  opacity: 0;
}

#logo{
  width: 150px;
}

.sub-contents{
  margin-top: 50px;
}

.sub-contents-button{
  display: inline;
  font-family: inherit;
  padding: 20px 10px;
  background: skyblue;
  color: white;
  border-radius: 20px;
}


.icon-function{
  margin-right: 5px;
}

