.title{
  margin-bottom: 0!important;
}

#googlemap{
  width: 540px;
  height: 600px;
}

#sponser{
  position: relative;
  top: 40px;
  left: -15px;
}

td{
  width:49%;
}

.table{
  margin-bottom: 0px!important;
}

.gm-style-iw-d{
  min-height: 71px!important;
}

.gm-style-iw-d img{
  width: 41%;
  float: left;
  padding-right: 5px;
  display: inline-block;
}

.map-button{
  padding: 0!important;
  margin: 0!important;
  float: left!important;
  display: inline-block!important;
  top: 15px!important;
  position: relative!important;
}

thead, tbody{
  display: block;
}

tbody {
  display: inline-block;
  max-height: 500px;
  overflow-y: auto;
}

.shops-name{
  cursor: pointer;
}

#serach_form{
  width: 265px;
  margin-top: 15px;
}

.shop_background{
  background-color: lightgrey;
}

tbody shops_name{
  opacity: 0.5;
}